<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
  
<body>
  
  <div class="sample">
    <h2>Basic example.</h2>
    <ul>
      <li>Upload files, images and videos to server side.</li>
      <li>Delete files and images from server side.</li>
    </ul>
    <form>
      <textarea id="edit-basic"></textarea>
    </form>

    <h2>Accept only JPEG images.</h2>
    <form>
      <textarea id="edit-jpeg"></textarea>
    </form>

    <h2>Resize image on upload.</h2>
    <form>
      <textarea id="edit-resize"></textarea>
    </form>

    <h2>Upload images to S3.</h2>
    <form>
      <textarea id="edit-s3"></textarea>
    </form>

    <h2>Custom file and image validation.</h2>
    <form>
      <textarea id="edit-validation"></textarea>
    </form>
  </div>

  <!-- Initialize the editor. -->
  <script>
    (function() {
      // Upload images basic example.
      new FroalaEditor('#edit-basic',{
        // Set the file upload URL.
        imageUploadURL: '<%= froala_upload_image_path %>',
        imageManagerLoadURL: '<%= froala_load_images_path %>',
        imageManagerDeleteURL: '<%= froala_delete_image_path %>',
        fileUploadURL: '<%= froala_upload_file_path %>',
        videoUploadURL: '<%= froala_upload_video_path %>',
      events : {
      'file.unlink': function (link) {
        $.ajax({
          // Request method.
          method: 'POST',

          // Request URL.
          url: '<%= froala_delete_file_path %>',

          // Request params.
          data: {
            src: link.getAttribute("href")
          }
        })
        .done (function (data) {
          console.log ('File was deleted');
        })
        .fail (function (err) {
          console.log ('File delete problem: ' + JSON.stringify(err));
        })
      },
      'image.removed': function ($img) {
        $.ajax({
          // Request method.
          method: 'POST',

          // Request URL.
          url: '<%= froala_delete_image_path %>',

          // Request params.
          data: {
            src: $img.attr("src")
          }
        })
        .done (function (data) {
          console.log ('File was deleted');
        })
        .fail (function (err) {
          console.log ('File delete problem: ' + JSON.stringify(err));
        })
      }}
      })
})();

      (function() {
      // Upload only JPEG images.
      new FroalaEditor('#edit-jpeg',{
        // Set the file upload URL.
        imageUploadURL: '<%= froala_upload_image_jpeg_path %>'
      })

      // Resize images on upload.
      new FroalaEditor('#edit-resize',{
        // Set the file upload URL.
        imageUploadURL: '<%= froala_upload_image_resize_path %>'
      })
    })();

    (function() {
      // Resize images on upload.
      new FroalaEditor('#edit-s3',{
        // Set the file upload URL.
        imageUploadToS3: <%= @aws_data.to_json.html_safe %>
      })
    })();

    (function() {
      new FroalaEditor('#edit-validation',{
        imageUploadURL: '<%= froala_upload_image_validation_path %>',
        fileUploadURL: '<%= froala_upload_file_validation_path %>'
      })
    })();
  </script>
</body>
</html>
